/* Add padding to containers */

.container {
    background-color: white;
    padding: 16px;
    text-align: center;
    width: 500px;
    margin: auto;
}

/* Full-width input fields */

.text, .number, .password {
    padding: 15px;
    margin: 5px 0 22px 0;
    width: 100%;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}

.text:focus, .number:focus, .password:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */


/* Set a style for the submit/register button */

.loginbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.loginbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */

.sign {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */

.signin {
    padding: 16px;
    background-color: #f1f1f1;
    text-align: center;
}